<h1 id="tableLabel">Songs</h1>

<p>This component demonstrates fetching data from the server.</p>
<!-- <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/songs" routerLinkActive="active-link">Songs</a></li>
      <li><a routerLink="/detail" routerLinkActive="active-link">Detail</a></li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet> -->


<div class="table-responsive-sm">
<table class='table table-striped table-hover table-bordered' *ngIf="songs">
    <thead class="thead-dark">
        <tr>
            <th>Modify</th>
            <th>Remove</th>            
            <th>Name</th>
            <th>Artist</th>            
            <th>Album</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of songs">
            <td><button class='btn btn-primary' (click)="editItem(song.songId)">Edit</button></td>
            <td><button class='btn btn-primary' (click)="deleteItem(song.songId)">Delete</button></td>
            <td>{{ song.name }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.album }}</td>            
        </tr>
    </tbody>
</table>
</div>